<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<!--<add key="DBI" value="Data Source=172.96.172.39;Initial Catalog=steamLog;Persist Security Info=True;User ID=leo;Password='4mAt^QLO@heR';Port=80" />-->
	<add key="DB_connect" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\k90011014\Documents\Personal\NFL\WebApi\NFLcito_WEBAPI\App_Data\Database1.mdf;Integrated Security=True" />
	<!--<add key="Developercommand encryptation" value="     aspnet_regiis -pef "appSettings" "C:\deploy" -prov "DataProtectionConfigurationProvider"   "/>-->
	<add key="JWT_SECRET_KEY"     value="clave-secreta-api"/>
	<add key="JWT_AUDIENCE_TOKEN" value="https://localhost:44387"/>
	<add key="JWT_ISSUER_TOKEN"   value="https://localhost:44387"/>
	<add key="JWT_EXPIRE_MINUTES" value="30"/>
</appSettings>